<!-- Starts just the viewer and joystick -->
<launch>
  <node pkg="wheelchair_ros" type="viewer_node" name="viewer_node" output="screen">
    <remap from="map3d" to="map3d_throttle" />
    <remap from="map2d" to="map2d_throttle" />
  </node>
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
    <remap from="joy" to="wheel_js_aux"/>
  </node>
</launch>
