{% extends "page.html" %}
{% block content %}

<h1>Wheel Chair Collision Avoidance System</h1>
<h2>background</h2>

<p class="sidenote">
The MTE 481 & 482 courses for the mechatronics program at waterloo, are a set of two courses designed to have students develop
and produce a prototype of a marketable product. It attempts to have students realisticly consider the development of
a product for marketing, assess the patentability of their product. The students the create a prototype and demo it to
industry leaders in order to show their work.<p>

<p>Powered Wheel chairs have obviouse benefits for the mobility of the physically disabled. Operation of any relatively heavy powered vehicle carries certain safety risks and operators must be capable of safe operation.Irene Ruel, a physiotherapist in the employ of the British Columbia Interior Health Authority, who has previously been responsible for powered wheel chair assessments in an extended care facility, was consulted regarding this problem. By her account, the risk that powered wheelchair operators will collide with other patients is a seriouse concern and frequently results in the denial of requests for powered wheel chairs.This encouraged our team to develope a wheel chair that helps improve this situation by meeting the following criteria:</p>
<ul>
<li><i>Improve Safety.</i>Safety is a signicant concern for powered wheelchair operation. Eective safety
systems will be of great value to those with physical disabilities.</li>
<li><i>Improve accessibility.</i>For those who would be denied access to a powered wheelchair, a safety system
which permits access will have signicant quality-of-life benets.</li>
<li><i>Assist with dificult tasks.</i>Some tasks, such as precise positioning and movement in constrained spaces,
are dificult even for unimpaired operators. A system which can assist with such tasks would be helpful.</li>
</ul>

<p>With these in mind we set out a couple of simple constraints that the design would also need to meet in order to be both applicable and usable.</p>
<ul>
<li><i>Insensitive to operating environment.</i>Realistic operating environments will be varied, and subject to
change. The usefulness of a safety system will be severely degraded if it depends on a specialized,
controlled environment.</li>
<li><i>Integrates with existing wheelchairs.</i>Powered wheelchairs are expensive, and many are already in
existence. The potential reach of a new safety system will be severely restricted if it may not be
integrated with pre-existing wheelchairs.</li>
<li><i>Cost kept below $500.</i>The system will be paid for by end users, who will be sensitive to cost. It will be
dificult to market a system which is very expensive relative to the cost of a basic powered wheelchair.</li>
</ul>
{% endblock %}
