{% extends "page.html" %}
{% block content %}

<h1>Wheel Chair Collision Avoidance System</h1>

<i>Be sure to check out the <a href="/progress">Progess</a> page for recent updates!</i>

<h2>Background</h2>

<p class="sidenote">
<img src="./Wheel_Chair.jpg" width="445" height="380" alt="Wheelchair CAD Model" align=float/>
</p>

<p>Powered wheel chairs have obvious benefits for the mobility of the physically disabled. This can add dramatically to the quality of life for a physically disabled person. Operation of any relatively heavy powered vehicle carries certain safety risks and operators must be capable of safe operation. As a result of safety risks, patients in long-term care facilities are routinely denied the use of powered wheel chairs.
</p>
<p>
We spoke with a member of the industy in order to discuss the need for collision-avoidance for powered wheel chairs. Irene Ruel, a physiotherapist in the employ of the British Columbia Interior Health Authority who has previously been responsible for powered wheel chair assessments in an extended care facility, was consulted regarding this problem. By her account, the risk that powered wheelchair operators will collide with other patients is a serious concern and frequently results in the denial of requests for powered wheel chairs for patients living in care facilities. This encouraged our team to develop a wheel chair that helps improve this situation by meeting the following objectives:</p>
<ul>
<li><i>Improve Safety.</i>Safety is a significant concern for powered wheelchair operation. Effective safety
systems will be of great value to those with physical disabilities.</li>
<li><i>Improve accessibility.</i>For those who would be denied access to a powered wheelchair, a safety system
which permits access will have significant quality-of-life benefits.</li>
<li><i>Assist with dificult tasks.</i>Some tasks, such as precise positioning and movement in constrained spaces,
are dificult even for unimpaired operators. A system which can assist with such tasks is needed.</li>
</ul>

<p>With these in mind we set out a couple of simple constraints that the design would also need to meet in order to be both applicable and usable.</p>
<ul>
<li><i>Insensitive to operating environment.</i>Realistic operating environments will vary greatly in terms of lighting and types of obstacles encoutered, whether static obstacles or moving people/pets. The usefulness of a safety system will be severely degraded if it depends on a specific, controlled environment to be able to operate.</li>
<li><i>Integrates with existing wheelchairs.</i>Powered wheelchairs are expensive, but many are already in existence and have been cost-reduced through mass production. Rather than re-inventing the wheel (or wheel-chair in this case) it makes sense to build on existing products by making this an "add-on" feature to an existing chair.</li>
<li><i>Cost kept to a minimum.</i>The system will be paid for by individuals, who will be sensitive to cost. It will be difficult to market a system which is very expensive relative to the cost of a basic powered wheelchair. Initial talks with one pysiotherapist resulted in a suggested cost of not more than $500 for a system (on top of the base cost of the wheelchair).</li>
</ul>
{% endblock %}
