{% extends "page.html" %}
{% block content %}
<h1>Team Members</h1>
<h2>Iain Peet</h2>
<p>Short bio</p>
<h2>Jordan Valentin</h2>
<p>Short bio</p>
<h2>Rowan Head-Marsden</h2>
<p>Rowan is an engineer in the mechatronics program at the university of waterloo and has been part of a number of robotics team intiatives as a mechanical designer. For this project Rowan will be in charge of the mechanical aspects of the design, working with sensor mountings and integration and later assist with the electrical and software as the design progresses.</p>
{% endblock %}
