{% extends "page.html" %}
{% block content %}
<h1>Team Members</h1>
<h2>Iain Peet</h2>
<p>Iain is Mechatronics engineer who has done a great deal of work with robotics during school and work terms. He has been involved with the robotics team and the UW rocketry team designing software components. His previous work places have included clearpath robotics, Google, Sandvine, Virtual Button Technologies, Deluxe Laboratories. For this project he will be the chief designed for the software related aspects.</p>
<h2>Jordan Valentin</h2>
<p>Jordan is a talented electrical engineer from the Mechatronics program. He has been the electrical lead for the midnight sun and formula hybrid teams at the University of Waterloo. HIs previous work terms have been doing hardware design at Innuvation and Research in Motion. He will be heading up the electrical aspects of design.</p>
<h2>Rowan Head-Marsden</h2>
<p>Rowan is an engineer in the Mechatronics program at the University of Waterloo and has been part of a number of robotics team initiatives as a mechanical designer. For this project Rowan will be in charge of the mechanical aspects of the design, working with sensor mountings and integration.</p>
<h3>Contact Us</h3>
<p>Email:rheadmar@uwaterloo.ca</p>
{% endblock %}
