{# Main stylesheet template.  This is included site-wide. #}
body {
  padding: 0;
  margin: 0;
  background-color: {{ palette.bg }};
  color: {{ palette.text }};
}
div {
  background-color: {{ palette.bg_text }};
}

{# Header styling #}
.header {
  {% if fixed_ui %}
  position: fixed;
  {% endif %}
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: {{ head_height }};        
  background-color: {{ palette.bg_head }};
}
.header_content {
  width: {{ page_width }};
  height: {{ head_height }};
  margin: 0 auto;
  background-color: {{ palette.bg_head_content }};
  color: {{ palette.text_head }};
}
.header h1 {
  margin: 0;
  padding: 6px 0 0 20px;
}
.header h2 {
  margin: 0 20px;
  text-align: right;
}

{# Navigation Styling #}
.navigation {
  {% if fixed_ui %}
  position: absolute;
  {% endif %}
  bottom: 0px;            
  width: {{ page_width }};
  background-color: {{ palette.bg_nav }};
  color: {{ palette.text_nav }};
}
.navigation ul {
  margin: 0;
  padding: 5px 0;
}
.navigation li {
  display: inline;
  list-style-type: none;           
  padding: 6px 0;
}
#curpage {
  color: {{ palette.bg_nav }};
  background-color: {{ palette.text_nav }};
  padding: 6px 10px;
}
.navigation a {
  color: {{ palette.text_nav }};
  padding: 6px 10px;
  text-decoration: none;
}
.navigation a:hover {
  color: {{ palette.bg_nav }};
  background-color: {{ palette.text_nav }};
}

{# Content styling #}
.content {
  {% if fixed_ui %}
  padding: {{ head_height }} 0 10px 0;
  {% else %}
  padding: 5px 0 10px 0;
  {% endif %}
  width: {{ page_width }};
  margin: 0 auto;
}
.content p, .content h2, .content h3, .content ul, .content table {
  margin-left: 20px;
  margin-right: 20px;
}
.content em {
  margin: 0;
}
.content h1 {
  background-color: {{ palette.heading }};
  color: {{ palette.heading_text }};
  margin: 8px;
  padding: 0 10px;
}
.content ul {
  padding-left: 30px;
}
.content li {
  margin: 0;
}
.section {
  clear: both;
  margin: 8px;         
  padding: 0 10px;
  border-left: 2px solid {{ palette.border }};
}
.section:nth-child(odd) {
  border-right: 2px solid {{ palette.border }};
  border-left: none;
}
.section p, .section h2, .section h3, .section ul, .section table {
  margin-left: 0;
  margin-right: 0;
}
.section h2 {
  float: right;
}
.section p {
  clear: right;
}
.section img {
  margin: 10px 20px;
  float: left;
}
.section:nth-child(even) h2 {
  float: left;
}
.section:nth-child(even) p {
  clear: left;
}
.section:nth-child(even) img {
  float: right;
}
.sidenote {
  width: 33%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5px;
  float: right;
  border: 2px solid {{ palette.border }};
}
.strut { {# Used to ensure parents fully contain child floats.  Hackery, but I digress. #}
  clear: both;
}

{# Page footer #}
.footer {
  background-color: {{ palette.bg }};
}
.footer p {
  margin: 20px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .header {
    position: static;
    height: auto;
  }
  .header_content {
    height: auto;
  }
  .navigation {
    position: static; 
    width: 100%
  }
  .content {
    padding: 5px 0 10px 0;
  }
  .section img {
    float: right; 
  }
  .section:nth-child(even) img { 
    float: left; 
  }
  .section p {
    float: none;
    clear: both;
  }
  .section:nth-child(even) p {
    clear: both;
  }
}
