<!DOCTYPE html>
{# Base page template for the site.  Provides header and footer, #}
{# with the empty content block which should be filled by child templates #}
<html>
  <head>
   <title>MTE482 - Group 2 - {{ title }}</title>
   <link rel="stylesheet" href="/styles/main.css" type="text/css">
   <meta charset="utf-8">
  </head>
  <body>
    <div class="header"><div class="header_content">
      <h1>MTE 482 - Group 2</h1>
      <h2>{{ title }}</h2>
      <div class="navigation">
        <ul>
        {% for page in page_list %}
          {% if page.name == name %}
            <li id="curpage">{{ page.title }}</li>
          {% else %}
            <li><a href="/{{ page.name }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div></div>
    <div class="content">
     {% block content %}{% endblock %}
    </div>
    <div class="footer">
    <p>Copyright 2012 - Iain Peet, Rowan Head-Marsden, Jordan Valentin</p>
    </div>
  </body>
</html>
