{% extends "page.html" %}
{% block content %}
<h1>Project Status</h1>
<p><i>A blog-style set of updates concerning the progress of the project. Newcomers should start from the bottom (earlier updates) and work their way up.</i>
<!--BEGIN BLOG-STYLE CONTENT-->
<div class="section">
  <h2>Mechanical Parts Almost Completed</h2>
  <img src="static/Kinect_Shelf.jpg" width="300" alt="Blog Image" align=float/>
  <p>The last remaining part, the tray to hold the Kinect sensor above the user's lap, is almost completed. Once we get this done, it will be timing for attaching the sensors and wiring them up.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Soldered, Basic Functionality Verified</h2>
  <img src="static/solder_complete.jpg" width="300" alt="Blog Image" align=float/>
  <p>A PCB has been soldered, and all the footprints appear to be correct. All the voltage rails all come up. USB-to-UART communication also works. Some drivers need to be written to test the ADCs and the digital potentiometers, but everything looks good so far.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sonar Mounts Fitted to Wheelchair</h2>
  <img src="static/Sensor_Mount.jpg" width="300" alt="Blog Image" align=float/>
  <p>The sonar mounts have been mounted to the wheelchair and fit quite nicely. Now the only mechanical part left to be completed is the hinged tray to hold the Kinect sensor in front of the user. Once this is completed, and if time allows, we will paint the parts black to match the existing wheelchair's colour scheme. </p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Arrived</h2>
  <img src="static/PCB.jpg" width="300" alt="Blog Image" align=float/>
  <p>The PCBs have arrived and look exactly as ordered. Now we are just waiting on delivery of all the components and the boards can be soldered and assembled for testing! Code to run on the microcontroller is almost complete as well.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sonar Mounts Manufactured</h2>
  <img src="static/Sensor_Mounts.jpg" width="300" alt="Blog Image" align=float/>
  <p>The sonar sensors mounts have been manufactured in the shop, and are ready to be fitted to the wheelchair.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Designed</h2>
  <img src="static/PCB_Render.jpg" width="300" alt="Blog Image" align=float/>
  <p>The PCB we will need for the project (details available on the <a href="/design">Design</a> page) has been designed and is ready to be sent out for fab!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Wheelchair Interface Circuit Testing Complete</h2>
  <img src="static/test_circuit.jpg" width="300" alt="Blog Image" align=float/>
  <p>With the sensors proven out, the last thing to get working is an interface to control the wheelchair. The existing joystick is inductively coupled to the control board inside the wheelchair's joystick housing. The result is a sine-wave signal going into the microcontroller on the control board. The wheelchair will be controlled disconnecting the joystick from the control board, and instead feeding the sine wave to our own PCB. The amplitude of this wave will allow readings of the user's requested movement in the left/right and forward/reverse directions. A reference sine wave is created on our own PCB and its amplitude can be varied using a digital potentiometer to feed control signals back to the wheelchair.</p><p> The circuit shown in the photo does just this, and by turning the pot with a screwdriver the wheelchair can be made to move forward or reversed. With this circuit proven out we can finalize the design as part of a PCB!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Kinect Obstacle-Detection Code</h2>
  <img src="static/kinect_testing.jpg" width="300" alt="Blog Image" align=float/>
  <p>Some preliminary obstacle-detection code has been written for the Kinect to run under ROS on a laptop. The colour image shows the group members, and the greyscale image is a grid showing where obstacles have been detected (in black). As can be seen floor/ceiling obstacles are rejected but the three humans in the picture have been detected as obstacles.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sensor Testing</h2>
  <img src="static/testing.jpg" width="300" alt="Blog Image" align=float/>
  <p>A Kinect sensor was purchased, and a set of sonar sensors borrowed for testing as shown in the image. We set up markers on the floor and measured the coverage of various sensor configurations. We found out two important things: we will need sensors with the largest beam angle possible and also that we will have measure ranges sequentially as we ran into a lot of sensor crosstalk issues during testing!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Wheelchair Accquired!</h2>
  <p>Dr. Amir Khajepour of the MME department has generously lent us a powered wheelchair for use in our fourth year project.</p>
  <div class="strut"></div>
</div>

<!-- END BLOG-STYLE CONTENT -->

<h2>Landmarks</h2>
<table>
<tr>
<td>PDP complete</td><td>October 1st<td>
</tr>
<tr>
<td>Preliminary testing for Sonar Sensors</td><td>October 7th<td>
</tr>
<tr>
<td>Acquired wheel chair for prototyping</td><td>October 12th<td>
</tr>
<tr>
<td>Existing wheel chair analyzed</td><td>October 15th<td>
</tr>
<tr>
<td>Wheel chair CAD model created</td><td>November 10th<td>
</tr>
<tr>
<td>FDP Complete</td><td>November 20th<td>
</tr>
<tr>
<td>Website Created</td><td>January 20th<td>
</tr>
</table>
{% endblock %}
