{% extends "page.html" %}
{% block content %}
<h1>Project Status</h1>
<p><i>A blog-style set of updates concerning the progress of the project. Newcomers should start from the bottom (earlier updates) and work their way up.</i>
<!--BEGIN BLOG-STYLE CONTENT-->
<div class="section">
  <h2>Software Efforts Well Under Way</h2>
  <img src="static/sensor_test.jpg" width="300" alt="Blog Image" align=float/>
  <p>Shown is an improved free-space visualization around the wheelchair. The four arcs show the integration of the wide-angle sonar sensors, and one of our group members is waving his arms in front of the Kinect.</p>
<p>
This proves out software integration between our custom PCB and our laptop performing high-level control. We should be able to add a video with the wheelchair moving around and avoiding obstacles in the near future.
</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Electronics Complete, Wheelchair Moving!</h2>
  <img src="static/chair_wired.jpg" width="300" alt="Blog Image" align=float/>
  <p>The chair is wired and electrically complete. A flick of a switch turns the voltage regulators for PCB/Kinect on and off, and the wheelchair is moving via passing joystick information through our custom PCB. Sonar sensors are also wired up and ranging data correctly.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Kinect Mount Completed</h2>
  <img src="static/Kinect_Mount_Final.jpg" width="300" alt="Blog Image" align=float/>
  <p>The tray to hold the Kinect is finally completed, and has been painted black to match the wheelchair. Not shown in the picure is the Kinect itself (it attaches to the quick-release mechanism shown in the center), or the safety stop switch that is mounted to the same platform in front of the user. A conduit for wiring is incuded and the next update should show the Kinect fully mounted and operational on the wheelchair.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Wiring Completed</h2>
  <img src="static/Wiring_Complete.jpg" width="300" alt="Blog Image" align=float/>
  <p>The joystick wiring and the sonar sensor wiring is complete as shown in the picture. The wire ends connect to screw terminals on the PCB (see images of PCB below). Also completed but not shown is the battery wiring to connect the PCB to the 2 lead-acid batteries. This means all electronics can now be mounted to the chair and it should be operational within days.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sonar Mounts Complete</h2>
  <img src="static/Sensor_Mount_Final.jpg" width="300" alt="Blog Image" align=float/>
  <p>The sonar mounts are complete and they have been painted to match the existing wheelchair colour scheme. The two mounting holes is where the sensor will be attached once it has been wired up.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Electronics Fully Tested</h2>
  <img src="static/electronics_tested.jpg" width="300" alt="Blog Image" align=float/>
  <p>All drivers have been written for ADCs/digital pots on the PCB and all interfaces have been fully tested. Shown in this image is a modified version of the original test bread board. It generates a 20kHz sine wave much like the chair's joystick, and moving the pot on the test board varies the amplitude of the input to the PCB, just like moving the joystick. This has been used to simulate joystick input and verify the correct output on the bench. The next step is to wire up the joystick and demonstrate the fully-functional PCB on a moving wheelchair!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Mechanical Parts Almost Completed</h2>
  <img src="static/Kinect_Shelf.jpg" width="300" alt="Blog Image" align=float/>
  <p>The last remaining part, the tray to hold the Kinect sensor above the user's lap, is almost completed. Once we get this done, it will be time for attaching the sensors and wiring them up.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Soldered, Basic Functionality Verified</h2>
  <img src="static/solder_complete.jpg" width="300" alt="Blog Image" align=float/>
  <p>A PCB has been fully soldered, and all the footprints appear to be correct. All the voltage rails all come up. USB-to-UART communication also works. Some drivers need to be written to test the ADCs and the digital potentiometers, but everything looks good so far.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sonar Mounts Fitted to Wheelchair</h2>
  <img src="static/Sensor_Mount.jpg" width="300" alt="Blog Image" align=float/>
  <p>The sonar mounts have been mounted to the wheelchair and fit quite nicely. Now the only mechanical part left to be completed is the hinged tray to hold the Kinect sensor in front of the user. Once this is completed, and if time allows, we will paint the parts black to match the existing wheelchair's colour scheme. </p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Arrived</h2>
  <img src="static/PCB.jpg" width="300" alt="Blog Image" align=float/>
  <p>The PCBs have arrived and look exactly as ordered. Now we are just waiting on delivery of all the components and the boards can be soldered and assembled for testing! Code to run on the microcontroller is almost complete as well.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sonar Mounts Manufactured</h2>
  <img src="static/Sensor_Mounts.jpg" width="300" alt="Blog Image" align=float/>
  <p>The sonar sensors mounts have been manufactured in the shop, and are ready to be fitted to the wheelchair.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>PCBs Designed</h2>
  <img src="static/PCB_Render.jpg" width="300" alt="Blog Image" align=float/>
  <p>The PCB we will need for the project (details available on the <a href="/design">Design</a> page) has been designed and is ready to be sent out for fab!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Wheelchair Interface Circuit Testing Complete</h2>
  <img src="static/test_circuit.jpg" width="300" alt="Blog Image" align=float/>
  <p>With the sensors proven out, the last thing to get working is an interface to control the wheelchair. The existing joystick is inductively coupled to the control board inside the wheelchair's joystick housing. The result is a sine-wave signal going into the microcontroller on the control board. The wheelchair will be controlled via disconnecting the joystick from the control board, and instead feeding the sine wave to our own PCB. The amplitude of this wave will allow readings of the user's requested movement in the left/right and forward/reverse directions. A reference sine wave is created on our own PCB and its amplitude can be varied using a digital potentiometer to feed control signals back to the wheelchair.</p><p> The circuit shown in the photo does just this, and by turning the pot with a screwdriver the wheelchair can be made to move forward or reversed. With this circuit proven out we can finalize the design as part of a PCB!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Kinect Obstacle-Detection Code</h2>
  <img src="static/kinect_testing.jpg" width="300" alt="Blog Image" align=float/>
  <p>Some preliminary obstacle-detection code has been written for the Kinect to run under ROS on a laptop. The colour image shows the group members, and the greyscale image is a grid showing where obstacles have been detected (in black). As can be seen floor/ceiling obstacles are rejected but the three humans in the picture have been detected as obstacles.</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Sensor Testing</h2>
  <img src="static/testing.jpg" width="300" alt="Blog Image" align=float/>
  <p>A Kinect sensor was purchased, and a set of sonar sensors borrowed for testing as shown in the image. We set up markers on the floor and measured the coverage of various sensor configurations. We found out two important things: we will need sensors with the largest beam angle possible and also that we will have measure ranges sequentially as we ran into a lot of sensor crosstalk issues during testing!</p>
  <div class="strut"></div>
</div>
<!-- BLOG ENTRY SEPARATOR -->
<div class="section">
  <h2>Wheelchair Accquired!</h2>
  <p>Dr. Amir Khajepour of the MME department has generously lent us a powered wheelchair for use in our fourth year project.</p>
  <div class="strut"></div>
</div>

<!-- END BLOG-STYLE CONTENT -->

<h2>Landmarks</h2>
<table>
<tr>
<td>PDP complete</td><td>October 1st<td>
</tr>
<tr>
<td>Preliminary testing for Sonar Sensors</td><td>October 7th<td>
</tr>
<tr>
<td>Acquired wheel chair for prototyping</td><td>October 12th<td>
</tr>
<tr>
<td>Existing wheel chair analyzed</td><td>October 15th<td>
</tr>
<tr>
<td>Wheel chair CAD model created</td><td>November 10th<td>
</tr>
<tr>
<td>FDP Complete</td><td>November 20th<td>
</tr>
<tr>
<td>Website Created</td><td>January 20th<td>
</tr>
</table>
{% endblock %}
