{% extends "page.html" %}
{% block content %}
<h2>Project Status</h1>
<p>Everything is moving towards completion on time.</p>
<h2>Landmarks</h2>
<table>
<tr>
<td>PDP complete</td><td>October 1st<td>
</tr>
<tr>
<td>Preliminary testing for Sonar Sensors</td><td>October 7th<td>
</tr>
<tr>
<td>Acquired wheel chair for prototyping</td><td>October 12th<td>
</tr>
<tr>
<td>Existing wheel chair analyzed</td><td>October 15th<td>
</tr>
<tr>
<td>Wheel chair CAD model created</td><td>November 10th<td>
</tr>
<tr>
<td>FDP Complete</td><td>November 20th<td>
</tr>
<tr>
<td>Website Created</td><td>January 20th<td>
</tr>
</table>
{% endblock %}
